@{
    ViewBag.Title = "Index";
}

<h2>Select Entity</h2>

@Html.ActionLink("Doctors", "Index", "Doctor", "", new { @class = "btn btn-primary", role = "button"})
@Html.ActionLink("Patients", "Index", "Patient", "", new { @class = "btn btn-primary", role = "button"})
@Html.ActionLink("Specializations", "Index", "Specialization", "", new { @class = "btn btn-primary", role = "button"})